<div class="card white darken-1">
    <div class="card-content black-text">
        <form class="col s12" #porcentagemForm="ngForm" (ngSubmit)="calcularMarkup()">
            <div class="row">
                <div class="col s4 m4">
                    <h5 class="header">
                        <a routerLink="/" class="btn-floating btn-tiny waves-effect waves-light red"><i class="material-icons">replay</i></a>                        Porcentagem
                    </h5>
                    <small>ex: 0,2</small>
                </div>
                <div class="input-field col s2 m2">
                    <button type="submit" [disabled]="!porcentagemForm.form.valid" class="btn-floating btn-tiny waves-effect waves-light green"><i class="material-icons">done</i></button>
                    <a (click)="salvar()" title="Salvar" class="btn-floating btn-tiny waves-effect waves-light red"><i class="material-icons">lock</i></a>
                </div>
                <div class="collection col s3 destaque">
                    <div class="input-field col s12 m12">
                        <input type="number" step="any" required="required" min="0" [(ngModel)]="precoMercadoria" name="precoMercadoria" id="precoMercadoria"
                            class="validate">
                        <label class="active">Preço Mercadoria</label>
                    </div>
                </div>
                <div class="collection col s3 destaque">
                    <div class="input-field col s12 m12">
                        <input type="number" step="any" required="required" min="0" [(ngModel)]="somaDespesas" name="somaDespesas" id="somaDespesas"
                            class="validate">
                        <label class="active">Soma Despesas</label>
                    </div>
                </div>

                <div class="input-field col s6" *ngFor="let item of principal">
                    <input type="number" step="any" [value]="item.valor" [(ngModel)]="item.valor" min="0" [id]="item.descricao" [name]="item.descricao"
                        required="required" class="validate">
                    <label class="active">{{item.descricao}}</label>
                </div>

            </div>
        </form>
        <footer class="page-footer">
            <div class="semicontainer black-text">
                <div class="row">
                    <div class="input-field col s4">
                        <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="markup" id="markup" name="markup">
                        <label class="whitesmoke active">Mark-UP:</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="pv" id="pv" name="pv">
                        <label class="whitesmoke active">PV:</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="pontoEquilibrio" id="pontoEquilibrio" name="pontoEquilibrio">
                        <label class="whitesmoke active">Ponto de Equilibrio:</label>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>