<form class="col s12" #custoForm="ngForm" (ngSubmit)="calcularMarkup()">
    <div class="card white darken-1">
        <div class="card-content black-text">
            <div class="col s12 m12 l12">
                <h5 class="header">
                    Custo
                </h5>
            </div>

            <div class="row collection paddingBase">
                <div class="col s12 m12 l4">
                    <div class="input-field col s12 m12">
                        <input (ngModelChange)="calcularDespesasVariaveis()" type="number" step="any" required="required" min="0" [(ngModel)]="custoMercadoria" name="custoMercadoria" id="custoMercadoria"
                            class="validate" placeholder="Exemplo: 25,00">
                        <label class="active">Custo da Mercadoria R$</label>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="input-field col s12 m12">
                        <input (ngModelChange)="calcularDespesasVariaveis()" readonly type="number" step="any" required="required" min="0" [(ngModel)]="despesasFixas"
                            name="despesasFixas" id="despesasFixas" class="validate" placeholder="Exemplo: 25,00">
                        <label class="active">Despesas Fixas R$</label>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="input-field col s12 m12">
                        <input type="number" readonly step="any" required="required" min="0" [(ngModel)]="despesasVariaveis" name="despesasVariaveis" id="despesasVariaveis"
                            class="validate" placeholder="Exemplo: 25,00">
                        <label class="active">Custos Variáveis R$</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6" *ngFor="let item of principal">
                    <input (ngModelChange)="calcularDespesasVariaveis()" type="number" step="any" [value]="item.valor" [(ngModel)]="item.valor"
                        min="0" [id]="item.descricao" [name]="item.descricao" required="required" class="validate" placeholder="Exemplo: 12,00"
                        [readonly]="item.activate">
                    <label class="active">{{item.descricao}}</label>
                </div>

            </div>
            <footer class="page-footer">
                <div class="semicontainer black-text">
                    <div class="row">
                        <div class="input-field col s12 m3 l3">
                            <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="markup" id="markup" name="markup">
                            <label class="active">Mark-UP:</label>
                        </div>
                        <div class="input-field col s12 m3 l3">
                            <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="pv" id="pv" name="pv">
                            <label class="active">Preço de Venda:</label>
                        </div>
                        <div class="input-field col s12 m3 l3">
                            <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="margemContribuicao" id="margemContribuicao" name="margemContribuicao">
                            <label class="active">Margem de contribuição:</label>
                        </div>
                        <div class="input-field col s12 m3 l3">
                            <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="pontoEquilibrio" id="pontoEquilibrio" name="pontoEquilibrio">
                            <label class="active">Ponto de Equilibrio:</label>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="row no-space" *ngIf="exibeMensagemCarregado">
                <div class="input-field col s12 m6 l6 right">
                    <span class="new badge red" data-badge-caption="">As informações foram carregadas por você já ter salvo o formulário.</span>
                </div>
            </div>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="input-field col inline right">
                    <button type="button" (click)="salvar()" [disabled]="!custoForm.form.valid" title="Salvar formulário" class="btn-floating btn-tiny waves-effect waves-light blue"><i class="material-icons">cloud</i></button>
                    <button type="submit" [disabled]="!custoForm.form.valid" class="btn-floating btn-tiny waves-effect waves-light blue"><i class="material-icons">done</i></button>
                </div>
                <div class="input-field col s6 inline left">
                    <a routerLink="/" class="btn btn-tiny waves-effect waves-light red"> Voltar</a>
                    <button type="button" (click)="salvarMesAtual()" [disabled]="!custoForm.form.valid" class="btn btn-tiny waves-effect waves-light blue">Salvar mês {{mesAtual}}</button>
                </div>
            </div>
        </div>
    </div>
</form>