<form class="col s12" #custoForm="ngForm" (ngSubmit)="calcularMarkup()">
    <div class="card white darken-1">
        <div class="card-content black-text">
            <div class="col s12 m12 l12">
                <h5 class="header">
                    Custo
                    <span class="new badge red" data-badge-caption="%">Exemplo de porcentagem: 20</span>
                    <span class="new badge blue" data-badge-caption="">Os campos (% Despesas), (Custos Fixos), (Custos Variáveis) e (Soma Despesas) são somente Leitura</span>
                </h5>
            </div>

            <div class="row collection paddingBase">
                <div class="col s12 m12 l3">
                    <div class="input-field col s12 m12">
                        <input type="number" step="any" required="required" min="0" [(ngModel)]="custoMercadoria" name="custoMercadoria" id="custoMercadoria"
                            class="validate" placeholder="Exemplo: 25,00">
                        <label class="active">Custo da Mercadoria R$</label>
                    </div>
                </div>

                <div class="col s12 m12 l3">
                    <div class="input-field col s12 m12">
                        <input (ngModelChange)="calcularDespesas()" readonly type="number" step="any" required="required" min="0" [(ngModel)]="fixos" name="fixos" id="fixos"
                        class="validate" placeholder="Exemplo: 25,00">
                        <label class="active">Custos Fixos R$</label>
                    </div>
                </div>

                <div class="col s12 m12 l3">
                    <div class="input-field col s12 m12">
                        <input (ngModelChange)="calcularDespesas()" type="number" readonly step="any" required="required" min="0" [(ngModel)]="variaveis" name="variaveis" id="variaveis"
                            class="validate" placeholder="Exemplo: 25,00">
                        <label class="active">Custos Variáveis R$</label>
                    </div>
                </div>

                <div class="col s12 m12 l3">
                    <div class="input-field col s12 m12">
                        <input type="number" readonly step="any" required="required" min="0" [(ngModel)]="somaDespesas" name="somaDespesas" id="somaDespesas"
                            class="validate" placeholder="Exemplo: 300">
                        <label class="active">Soma Despesas (Custos) R$</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6" *ngFor="let item of principal">
                    <input type="number" step="any" [value]="item.valor" [(ngModel)]="item.valor" min="0" [id]="item.descricao" [name]="item.descricao"
                        required="required" class="validate" placeholder="Exemplo: 12,00" [readonly]="item.activate">
                    <label class="active">{{item.descricao}}</label>
                </div>

            </div>
            <footer class="page-footer">
                <div class="semicontainer black-text">
                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="markup" id="markup" name="markup">
                            <label class="whitesmoke active">Mark-UP:</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="pv" id="pv" name="pv">
                            <label class="whitesmoke active">Preço de Venda:</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <input type="text" placeholder="Valor a ser calculado" disabled [(ngModel)]="pontoEquilibrio" id="pontoEquilibrio" name="pontoEquilibrio">
                            <label class="whitesmoke active">Ponto de Equilibrio:</label>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="row no-space" *ngIf="exibeMensagemCarregado">
                <div class="input-field col s12 m6 l6 right">
                    <span class="new badge red" data-badge-caption="">As informações foram carregadas por você já ter salvo o formulário.</span>
                </div>
            </div>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="input-field col inline right">
                    <button type="button" (click)="salvar()" [disabled]="!custoForm.form.valid" title="Salvar formulário" class="btn-floating btn-tiny waves-effect waves-light blue"><i class="material-icons">cloud</i></button>
                    <button type="submit" [disabled]="!custoForm.form.valid" class="btn-floating btn-tiny waves-effect waves-light blue"><i class="material-icons">done</i></button>
                </div>
                <div class="input-field col s6 inline left">
                    <a routerLink="/" class="btn btn-tiny waves-effect waves-light red"> Voltar</a>
                    <button type="button" (click)="salvarMesAtual()" [disabled]="!custoForm.form.valid" class="btn btn-tiny waves-effect waves-light blue">Salvar mês {{mesAtual}}</button>
                </div>
            </div>
        </div>
    </div>
</form>