<div class="card white darken-1">
    <div class="card-content black-text">
        <div class="row">
            <h5 class="header">
                Despesas por meses
            </h5>
        </div>
 
        <div class="row" *ngIf="meses == 0">
            <div class="card col s12 white-text">
                <div class="card-content">
                    <span>Você ainda não salvou suas despesas</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card col s12 m3 l3" (click)="openModal(item)" *ngFor="let item of meses">
                <div class="card-content">
                    <span class="big">{{item.mes}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-action">
        <div class="row">
            <div class="input-field col s6 inline left">
                <a routerLink="/" class="btn btn-tiny waves-effect waves-light red"> Voltar</a>
                <a (click)="limpar()" class="btn btn-tiny waves-effect waves-light blue"> Limpar</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="header">Despesas - {{mes.mes}}</h4>

        <div class="row">
            <div class="card col s3 m3 l3 white-text" *ngFor="let x of mes.despesas">
                <div class="card-content">
                    <span>{{x.descricao}}<br>{{x.valor}}</span>
                </div>
            </div>

            <div class="card col s3 m3 l3 white-text" *ngFor="let x of mes.outrasDespesas">
                <div class="card-content">
                    <span>{{x.descricao}}<br>{{x.valor}}</span>
                </div>
            </div>
        </div>

        <h4 class="header">Porcentagens</h4>
        <div class="row">
            <div class="card col s3 m3 l3 white-text" *ngFor="let x of mes.porcentagens">
                <div class="card-content">
                    <span>{{x.descricao}}<br>{{x.valor}}</span>
                </div>
            </div>
        </div>

        <h4 class="header">Outros Itens</h4>

        <div class="row">
            <div class="card col s3 m3 l3 white-text">
                <div class="card-content">
                    <span>Preço Mercadoria<br>{{mes.custoMercadoria}}</span>
                </div>
            </div>

            <div class="card col s3 m3 l3 white-text">
                <div class="card-content">
                    <span>Faturamento<br>{{mes.faturamento}}</span>
                </div>
            </div>

            <div class="card col s3 m3 l3 white-text">
                <div class="card-content">
                    <span>Preço de Venda<br>{{mes.pv}}</span>
                </div>
            </div>

            <div class="card col s3 m3 l3 white-text">
                <div class="card-content">
                    <span>Markup<br>{{mes.markup}}</span>
                </div>
            </div>

            <div class="card col s3 m3 l3 white-text">
                <div class="card-content">
                    <span>Ponto Equilibrio<br>{{mes.pontoEquilibrio}}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Sair</a>
    </div>
</div>