<div class="row">
  <a routerLink="/relatorio">
    <div class="col s6 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Relatório de despesas</span>
          <p>Inicie a parametrização com todas as informações.</p>
        </div>
      </div>
    </div>
  </a>

  <a routerLink="/custo">
    <div class="col s6 m6">
      <div class="card red darken-1">
        <div class="card-content white-text">
          <span class="card-title">Custo</span>
          <p>Inicie a parametrização com todas as porcentagens prontas.</p>
        </div>
      </div>
    </div>
  </a>

  <a routerLink="/mensal">
    <div class="col s6 m6">
      <div class="card blue darken-1">
        <div class="card-content white-text">
          <span class="card-title">Mensal</span>
          <p>Verifique as despesas salvas por mês.</p>
        </div>
      </div>
    </div>
  </a>

  <a (click)="limpar()">
    <div class="col s6 m6">
      <div class="card orange darken-1">
        <div class="card-content white-text">
          <span class="card-title">Limpar formulários</span>
          <p>Limpe todos os campos memorizados da memória.</p>
        </div>
      </div>
    </div>
  </a>

  <a href="mailto:jr_acn@yahoo.com.br">
    <div class="col s6 m6">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Suporte</span>
          <p>Reporte bugs ou sugestões de como melhorar a calculadora.</p>
        </div>
      </div>
    </div>
  </a>
</div>