<div class="card white darken-1">
  <div class="card-content black-text">
    <form class="col s12" #calculadoraForm="ngForm" (ngSubmit)="calcularDespesas()">
      <div class="row">
        <div class="col s6 m4">
          <h5 class="header">
            Relatório dos custos mensais
          </h5>
        </div>
        <div class="input-field inline col s6 m2">
          <a (click)="adicionar()" class="btn-floating btn-tiny waves-effect waves-light red"><i class="material-icons">add</i></a>
          <button type="submit" [disabled]="!calculadoraForm.form.valid" class="btn-floating btn-tiny waves-effect waves-light green"><i class="material-icons">done</i></button>
        </div>
        <div class="input-field inline col s6">
          <input type="number" step="any" required="required" min="0" [(ngModel)]="faturamento" name="faturamento" id="faturamento"
            class="validate">
          <label>Faturamento Mensal</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field inline col s6" *ngFor="let item of principal">
          <input type="number" step="any" [value]="item.valor" [(ngModel)]="item.valor" min="0" [id]="item.descricao" [name]="item.descricao"
            required="required" class="validate">
          <label>{{item.descricao}}</label>
        </div>

        <div *ngFor="let item of outros">
          <div>
            <div class="input-field inline col s3">
              <label>Descrição:</label>
              <input type="text" required="required" class="validate">
            </div>
            <div class="input-field col s2">
              <label>Valor:</label>
              <input type="number" step="any" required="required" [(ngModel)]="item.valor" min="0" [id]="item.descricao" [name]="item.date"
                class="validate">
            </div>
            <div class="input-field col s1">
              <a (click)="remover(item)" class="btn-floating btn-tiny waves-effect waves-light red">
                <i class="material-icons">remove</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>