/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding-left: 4%;
    padding-top: 13px;
}
.semicontainer{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    padding: 13px;
}

 
body{
    background-color: rgba(23, 23, 23, 0.89);
}
.destaque{
    background-color: #eaeaea;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(materialicons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
 
footer.page-footer {
    padding-top: 20px;
    background-color: #ffffff;
    border-radius: 24px;
}
.title{
        color: #dddddd;
}

.input-field label{
    color: #000000;
}

.input-field label.active
{
    font-size: 1.0rem
}
.no-space{
    margin: 0;
    padding: 0;
}

label {
    font-weight: bold;    
}

input:disabled:not([type]) + label, input[readonly="readonly"]:not([type]) + label, input[type="text"]:disabled + label, input[type="text"][readonly="readonly"] + label, input[type="password"]:disabled + label, input[type="password"][readonly="readonly"] + label, input[type="email"]:disabled + label, input[type="email"][readonly="readonly"] + label, input[type="url"]:disabled + label, input[type="url"][readonly="readonly"] + label, input[type="time"]:disabled + label, input[type="time"][readonly="readonly"] + label, input[type="date"]:disabled + label, input[type="date"][readonly="readonly"] + label, input[type="datetime"]:disabled + label, input[type="datetime"][readonly="readonly"] + label, input[type="datetime-local"]:disabled + label, input[type="datetime-local"][readonly="readonly"] + label, input[type="tel"]:disabled + label, input[type="tel"][readonly="readonly"] + label, input[type="number"]:disabled + label, input[type="number"][readonly="readonly"] + label, input[type="search"]:disabled + label, input[type="search"][readonly="readonly"] + label, textarea.materialize-textarea:disabled + label, textarea.materialize-textarea[readonly="readonly"] + label{
    color: #000000 !important;
}

input[type="text"], input[type="number"] {
    font-weight: bold;
 }