/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    padding-left: 4%;
    padding-top: 13px;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

body{
    background-color: #000c;
}